{
    "presets": ["env"],
    "plugins": ["transform-es3-member-expression-literals", "transform-es3-property-literals", "minify-mangle-names", "minify-dead-code-elimination"],
    "env": {
        "production": {
            "plugins": ["minify"]
        },
        "development": {
            "plugins": []
        }
    }
}