{
    "presets": ["es2015"],
    "env": {
        "dev": {
            "plugins": ["es3-member-expression-literals", "es3-property-literals"]
        },
        "prod": {
            "presets": [
                ["minify",
                    {
                        "mangle": {
                            "exclude": {
                                "hasActiveEnrollment": true
                            }
                        },
                        "simplifyComparisons": true
                    }
                ]
            ],
            "plugins": ["es3-member-expression-literals", "es3-property-literals"]
        }
    }
}