{
    "presets": [
        ["env",
            {
                "targets": {
                    "ie": 6
                }
            }
        ]
        // ,
        // ["minify",
        //     {
        //         "mangle": {
        //             "exclude": ["hasActiveEnrollment"]
        //         },
        //         "simplifyComparisons": false
        //     }
        // ]
    ]
}